<select id="years"(change)="onChangeEvent($event)" >
    <option value="-1" selected="selected">None</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="last3">Last 3 years</option>
    <option value="last5">Last 5 years</option>
    <option value="last10">Last 10 years</option>
</select>
<div class="d3-chart" #chart></div>
<button type="button" style="margin-left:15px;" (click)="onClickEvent($event)">Previous</button>
<button type="button" style="float:right;margin-right:15px;" (click)="onClickEvent($event)">Next</button>
<!-- <input type="button" >Previous</input> -->

<style> /* set the CSS */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

</style>
