<h3>Line point Chart</h3>
<app-barchart *ngIf="chartData" [data]="chartData"></app-barchart>
<!-- <h3>Pie Chart</h3>
<div class="row">
  <div class="col-md-5" style="width:400px; height:400px;">
      <app-piecharts></app-piecharts>
  </div>
  <div class="col-md-7">
      <table class="table table-striped">
          <thead>
              <tr>
                  <td>Label</td>
                  <td>Value</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let d of data">
                  <td [innerHTML]="d.label"></td>
                  <td [innerHTML]="d.value"></td>
              </tr>
          </tbody>
      </table>
  </div>
</div> -->
